.body-show {
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 1s;
    display: flex;
    flex: 0.8;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-hide {
    opacity: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    transition-duration: 0s;
}
.title {
    display: flex;
    flex: 0.2;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.text-box {
    display: flex;
    width: 70vw;
    margin: 30px 0 180px 0;
}
.paragraph {
    align-self: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}