.body-show {
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 1s;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-hidden {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    transition-duration: 0s;
}
.title {
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 100%;
    color: white;
    font-weight: bold;
}
.title-text {
    text-align: center;
    white-space: nowrap;
}
.calendar-container {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    width: 50%;
}
.calendar-title-container {
    margin-top: -40px;
}
.top-item-container {
    margin: 0px 0px 10px 0px;
}
.item-container {
    display: flex;
    flex: 1;
    justify-content: start;
    color: white;
    background-color: #7dc8f9;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.calendar-text-header {
    font-weight: bold;
    text-indent: 1em;
    white-space: nowrap;
}
.calendar-text-body {
    text-align: center;
    white-space: nowrap;
}
.header-text {
    color: white;
    white-space: nowrap;
}
.link-text {
    color: #7dc8f9;
}