.body-show {
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 1s;
    display: flex;
    flex: 0.8;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.body-hide {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    transition-duration: 0s;
}
.title {
    display: flex;
    flex: 0.2;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}