.header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: #7dc8f9;
    -webkit-filter: drop-shadow(0px 0px 5px #000000);
    filter: drop-shadow(0px 0px 5px #000000);
}
.header-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7dc8f9;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.header-logo-column {
    width: 3.5vw;
}
.header-logo {
    transition-duration: 0.2s;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}
.header-logo:hover, .header-logo:focus, .header-logo:active {
    -webkit-filter: drop-shadow(0px 0px 5px #000000);
    filter: drop-shadow(0px 0px 7px #000000);
    outline: none;
}
.header-column-tabs {
    margin: 1vh 1.5vw;
    color: white;
    font-weight: bold;
}
.header-tab-text {
    transition-duration: 0.2s;
    font-size: 1.2vw;
    max-width: 100%;
    max-height: 100%;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.header-tab-text:hover, .header-tab-text:focus, .header-tab-text:active {
    -webkit-filter: drop-shadow(0px 0px 5px #000000);
    filter: drop-shadow(0px 0px 5px #000000);
    outline: none;
}