.footer-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000e2f;
    padding-bottom: 5vh;
  }
  .footer-column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
  }