.main-container {
  background-color: #000e2f;
  text-align: center;
}
.header-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  width: 100vw;
  background-color: #7dc8f9;
}
.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7dc8f9;
  font-size: 2.15vh;
}
.header-logo-column {
  padding: 1vh 2vw;
}
.header-logo {
  max-width: 100%;
  max-height: 100%;
}
.header-column-tabs {
  padding: 1vh 1vw;
  color: white;
  font-weight: bold;
}
.header-tab-text {
  max-width: 100%;
  max-height: 100%;
}
.footer-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000e2f;
  padding-bottom: 5vh;
}
.footer-column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
}
.home-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-title {
  display: flex;
  flex: 1;
  font-size: 5vw;
  color: white;
  font-weight: bold;
}
.about-container {
  text-align: center;
  margin-bottom: 50px;
}
.about-title {
  font-size: 3.5vw;
  color: white;
  font-weight: bold;
}
.about-text {
  display: flex;
  flex: 1;
  font-size: 20px;
  color: white;
}
.slide-container {
  top: 100vh;
  width: 75vw;
}
.each-slide > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.react-slideshow-container .nav[data-type="prev"] span {
  border-right: none;
  border-top: none;
}
.react-slideshow-container .nav[data-type="next"] span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.each-fade {
  display: flex;
}
.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}
.each-fade .image-container img {
  width: 100%;
}
.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.react-slideshow-container + div.indicators > div:last-of-type {
  margin-right: 10px;
}
.react-slideshow-container .nav {
  background: #000e2f;
  transition: 0.3s;
}
.react-slideshow-container .nav span {
  border-color: white;
}
.react-slideshow-container .nav:hover {
  background-color: #000e2f;
  box-shadow: 0 0 5px 3px white;
}
.react-slideshow-container .nav span:hover {
  border-color: white;
}
.react-slideshow-container + div.indicators > .each-slideshow-indicator {
  transition: 0.3s;
}
.react-slideshow-container + div.indicators > .each-slideshow-indicator:hover {
  background: #adceed;
}
.react-slideshow-container + div.indicators > .each-slideshow-indicator:active {
  background: white;
}